#content {
    position:absolute;
    top:45%;
    left:40%;
}
body {
background-color:rgb(114,111,242);
        background-color: -webkit-gradient(
    linear, left top, left bottom,
    color-stop(0,rgb(114,111,242)),
    color-stop(1,rgb(61,51,236))
    ); 
    }
#footer {
	position:absolute;
	bottom:1%;
}
td {
	padding:5px;
	text-align:right;
	border:0;
}
table {
    border:0;
    padding:0;
    margin:0;
}
input[type="password"] {
    border:0;
}
tbody, th, tr {
    border:0;
}
thead{
    border:0;
}
table {
	border-bottom: 0;
}

caption {
	font-weight: bold;
	padding-bottom: 0.643em; /* 9px */
	font-size:1.077em; /* 14px */
}

thead th {
	border:0;
	padding-top: 0;
	padding-bottom: 0.692em; /* 9px */
}

tbody {
	border-top: 0;	/* not rendered in IE6/7 */
}

tbody tr th, tbody tr td {
	border-top: 0;
}



/*#wrap {


    background-image: -webkit-gradient(
    linear, left top, left bottom,
    color-stop(0,rgb(114,111,242)),
    color-stop(1,rgb(61,51,236))
    ); 
    background-image: -moz-linear-gradient(
    top,#fff,rgb(61,51,236)
    );
}*/
/*body:after {
    content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
}*/
input[type="text"],input[type="password"] {
    border-top:2px solid #999;
    border-left:2px solid #999;
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
}
/*#footer {
    position:absolute;
    bottom:0px;
}*/
